<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tomato</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>    

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>      
<script src="https://kit.fontawesome.com/4085781175.js" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive2.css">
    <meta name="viewport" content="width=320, initial-scale=1.0"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <link rel="stylesheet" href="./js/main.js">
    <link rel="manifest" href="manifest.json">
    
</head>
<body class="body">
    
<!--   Header -->
     <header id="headerind3" class="headerind3">
        <div class="containerind2">
     <div class="header_inner">
                <div class="logo col-lg-3">
                    <a href="index.html"><img src="./images/logo.png" alt="Agridera" class="logo"></a>
                    <div class="burgerMenu">
                        <div class="openMenu">
                            <div class="burger-line first"></div>
                            <div class="burger-line second"></div>
                            <div class="burger-line third"></div>
                            <div class="burger-line fourth"></div>
                        </div>
                        <div class="closeMenu">
                            <div class="burger-line first"></div>
                            <div class="burger-line second"></div>
                            <div class="burger-line third"></div>
                            <div class="burger-line fourth"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 ml-auto">
                    <nav>
                       <div class="search">
                <form class="searchform2">
  <input class="imputsearch" type="text" placeholder="Search">
  <button class="battsearch" type="submit"></button>
</form>
                        </div>
                        <br>
                        <div class="menuUp">
                            <ul class="menu d-flex justify-content-center">
                                <li class="menu__item"> 
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#">Company</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#">Profile</a>
                                </li>
                                <li class="menu__item">
                                    <a href="index3.html">Products</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#">Services</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#">R&D</a>
                                </li>
                                <li class="menu__item">
                                    <a href="index4.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            </div>
        </header>

<!-- ФОН   -->

<div class="containerfon">
        <div class="fon"><img class="fontomato" src="images/chesnok.jpg" alt="fon"></div>
    </div>
   
<!-- Text1  -->
   <div class="color">
<div class="conaitertext">
    <div class="textH"><h1>Agridera Fresh Market Garlic</h1>
    <p>*****</p></div>
    <div class="textP">
        <p>Agridera aims to be one of the world's leading companies in the breeding, production, and marketing of tomato seeds. <strong> We invest intensively in research and development to provide solutions to growers and consumers in numerous countries around the world. </strong>
In particular, we breed improved disease-resistant cultivars adapted to different markets globally.
<br>
<br>
Currently, emphasis is placed on combining Tomato Yellow Leaf Curl Virus (TYLCV) and Tomato Spotted Wilt Virus (TSWV) resistances with other soil borne diseases into superior tomato breeding lines and hybrids. Moreover, comprehensive efforts are being undertaken tos develop varieties resistance to TBRFV virus (Tomato Brown Rugose Fruit Virus). 
<br>
<br>
In terms of horticultural traits, breeding is for earliness, different fruit sizes, firmness, red fruit color, flavor, crack resistance, shelf life, and high/low temperature fruit set. Combinations of quality features and disease resistance are sought in a variety of types, namely round and elongated shapes. </p>
    </div>
    <div class="text2p">
        <p>Agirdera Tomato breeding programs are focusing on three main segments: Greenhouse Indeterminate Tomatoes, Open-field Indeterminate Tomatoes, and Bush Type Open-field Tomatoes.</p>
    </div>
</div>   
   </div>
   
<!--Main content -->
   
   
  <selection class="main-content">
     <div class="color">
    <div class="containermaintext">
        
          <div class="row">
              <div class="col-lg-4 .col-sm-6">
                  <div class="tomat-card">
                   
                      <div class="tomat-details">
                          <h4><a href="#">Greenhouse Tomato Breeding Program</a></h4>
                          <p> <strong>This breeding is aimed for the Spanish and Turkish markets.</strong> For single and cluster picks, round fruit shape and resistances of TYLCV, TSWV, Nematodes and FORL (Fusarium oxysporum f.sp. radicis-lycopersici). Some hybrids may include more resistances, such as Cladosporium and Leveillula Taurica (Lv). </p>
                      </div>
                  </div>
              </div>
            
            <div class="col-lg-4 .col-sm-6">
                  <div class="tomat-card">
                   
                      <div class="tomat-details">
                          <h4><a href="#">Open-field Indeterminate <br>   Tomatoes</a></h4>
                          <p><strong>This breeding is for Brazilian, Moroccan, and Turkish markets.</strong> The main focus is on large round shape fruits (200 grams plus); and resistances of TYLCV, TSWV, Nematodes and FORL. In the near future, F3 (Fusarium oxysporum f.sp. lycopersici) will be included as basic resistance in our cultivars.</p>
                      </div>
                  </div>
              </div>
              
              <div class="col-lg-4 .col-sm-6">
                  <div class="tomat-card">
                    
                      <div class="tomat-details">
                          <h4><a href="#">Open-field Bush Type <br> Tomatoes</a></h4>
                          <p><strong>This breeding is for Mediterranean markets.</strong> We breed round and elongated shapes, standard sizes (140- 180 grams), and beef sizes (min. 180 grams up to 300 grams and more). We combine the resistances of TYLCV, TSWV and Nematodes as basic resistances in our hybrids. However, some hybrids may include more resistances, such as Cladosporium and Leveillula Taurica (Lv)..</p>
                      </div>
                  </div>
              </div>
            
          </div>
        </div>
        </div>
    </selection>  
   
   
   
   
<!-- Container text  -->
   
   
   <div class="color">
<div class="conaitertext2">
   
   <div class="text3p">
        <p><strong>Agridera operates through international and local distributers around the world.</strong> </p>
    </div>
</div>  
    </div>
   
<!--  PROD-card  -->
  <!--
   <section class="products Pinkback">
        <div class="containercardd"> 
            <div class="items">
                <div class="row">
                  <div class="item col-lg-4 col-md-6"><a href="#"><img src="./img/img1.jpg" alt="chas1"> <div class="item_text"><h2>Variety Gulliver</h2> <p>Variety Gribovsky jubilee - winter, forming an arrow with bulbous seeds. In terms of maturation - mid-season.</p></div></a></div>
                  <div class="item col-lg-4 col-md-6"><a href="#"><img src="./img/img2.jpg" alt="chas2"> <div class="item_text"><h2>Sort Gribovsky</h2> <p>Variety Degtyarsky, recommended by experts for cultivation on personal plots. Spring variety, mid-season, non-shooting. </p></div></a></div>
                  <div class="item col-lg-4 col-md-6"><a href="#"><img src="./img/img3.jpg" alt="chas3"> <div class="item_text"><h2>Degtyarsky variety</h2> <p>Variety Duchess - winter, giving arrows, early ripe. The head is rounded flattened, up to 5 cm in diameter, it has 4-6 large cloves.</p></div></a></div>
                  <div class="item col-lg-4 col-md-6"><a href="#"><img src="./img/img4.jpg" alt="chas4"> <div class="item_text"><h2>Variety Lyubasha</h2> <p>Variety Lyubasha - winter, mid-season, high-yielding. The arrow is about 1.5 meters. The leaves are dense, dark green in color, suitable for salads.</p></div></a></div>
                  <div class="item col-lg-4 col-md-6"><a href="#"><img src="./img/img5.jpg" alt="chas5"> <div class="item_text"><h2>Sort Flight</h2> <p>Variety Poljot, bred in Belarus - winter, mid-season, throwing arrows. The heads are large, rounded, dense, weighing about 40-52 grams, they have 5-6 cloves. </p></div></a></div>
                  
                </div>
            </div>
  
       </div>
    </section>
  -->   <section class="products Pinkback">
               <div class="containercardd"> 
              <div class="items">
                <div class="row">
                    <div class="item col-lg-4 col-md-6" v-if="products" v-for="p in products">
                        <a :href="'garlikone.html#'+p.id">
                            <img :src="'img/'+p.image" alt="img">
                            <div class="item_text">
                                <h2 class="veg-details">{{p.title}}</h2>
                                <p>{{p.short_text}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
    </div>
    </section>
  
  
<!--  
  
  
  
   <div class="color">
       <selection class="main-content">
     
    <div class="containercard">
        
          <div class="row">
              <div class="col-lg-4 .col-sm-6">
                  <div class="veg-card">
                      <div class="veg-thum">
                          <img class="imgtom1" src="./images/tomatoo1.png" alt="main1">
                      </div>
                      <div class="veg-details">
                          <h4><a href="#"><strong>TAG 1000 (TAG 853)</strong><br>
Tomato Determinate Red Standard Round</a></h4>
                         
                      </div>
                  </div>
              </div>
       
            <div class="col-lg-4 .col-sm-6">
                  <div class="veg-card">
                      <div class="veg-thum">
                          <img class="imgtom2" src="./images/tomatoo2.png" alt="main1">
                      </div>
                      <div class="veg-details">
                          <h4><a href="#"><strong>TAG 1001 (TAG 855)</strong> <br> Tomato Determinate Red Standard Round</a></h4>
                      </div>
                  </div>
              </div>
            
              <div class="col-lg-4 .col-sm-6">
                  <div class="veg-card">
                      <div class="veg-thum">
                          <a href="index3.html"> <img class="imgtom3" src="./images/tomatoo3.png" alt="main1"> </a>
                      </div>
                      <div class="veg-details">
                          <h4><a href="index3.html"><strong>TAG 1002 (TAG 809)</strong> <br> Tomato Determinate Red Standard Round</a></h4>
                          
                      </div>
                  </div>
              </div>
               
               <div class="col-lg-4 .col-sm-6">
                  <div class="veg-card">
                      <div class="veg-thum">
                          <img class="imgtom4" src="./images/tomatoo4.png"  alt="main1">
                      </div>
                      <div class="veg-details">
                          <h4><a href="#"><strong>TAG 1003 (TAG 834)
</strong> <br> Tomato Determinate Red Standard Round</a></h4>
                          
                      </div>
                  </div>
              </div>
              
                 <div class="col-lg-4 .col-sm-6">
                  <div class="veg-card">
                      <div class="veg-thum">
                          <img class="imgtom5" src="./images/tomatoo5.png" alt="main1">
                      </div>
                      <div class="veg-details">
                          <h4><a href="#"><strong>TAG 1004 (TAG 848)</strong> <br> Tomato Determinate Red BEEF Round</a></h4>
                          
                      </div>
                  </div>
              </div>
                 <div class="col-lg-4 .col-sm-6">
                  <div class="veg-card">
                      <div class="veg-thum">
                          <img class="imgtom6" src="./images/tomatoo6.png" alt="main1">
                      </div>
                      <div class="veg-details">
                          <h4><a href="#"><strong>TAG 1005 (TAG 800)</strong> <br> Tomato Determinate Red Standard Round</a></h4>
                          
                      </div>
                  </div>
              </div>
                 <div class="col-lg-4 .col-sm-6">
                  <div class="veg-card">
                      <div class="veg-thum">
                          <img class="imgtom7" src="./images/tomatoo7.png"  alt="main1">
                      </div>
                      <div class="veg-details">
                          <h4><a href="#"><strong>TAG 1006 (TAG 898)</strong> <br> Tomato Determinate Red Elongated</a></h4>
                          
                      </div>
                  </div>
              </div>
                 <div class="col-lg-4 .col-sm-6">
                  <div class="veg-card">
                      <div class="veg-thum">
                          <img class="imgtom8" src="./images/tomatoo8.png"  alt="main1">
                      </div>
                      <div class="veg-details">
                          <h4><a href="#"><strong class="tag">TAG 1007 (TAG 816)
</strong>  <br> Tomato Determinate Red Elongated</a></h4>
                          
                      </div>
                  </div>
              </div>
               
          </div>
        </div>
    </selection>
   
    </div>
    -->

   
     <section id="footerFirst" class="footerFirst">
         <div class="container6">
           <div class="row">
                        <div class="col-lg-8 col-md-12">
                            <ul class="footer_menu">
                                <li class="footer_item"> 
                                    <a href="#">PROFILE</a>
                                </li>
                                <li class="footer_item">
                                    <a href="#">MANAGEMENT</a>
                                </li>
                                <li class="footer_item">
                                    <a href="tomatoAll.html">PRODUCTS</a>
                                </li>
                                <li class="footer_item">
                                    <a href="#">R&amp;D</a>
                                </li>
                                <li class="footer_item">
                                    <a href="#">LINKS</a>
                                </li>
                                <li class="footer_item">
                                    <a href="#">SITEMAP</a>
                                </li>
                                <li class="footer_item">
                                    <a href="#">CONTACT</a>
                                </li>
                            </ul> 
                        </div>
                        <div class="col-lg-3 d-flex justify-content-center ml-auto">
                            <li class="footer_link">
                                <a href="#"><img src="./images/Ico_fb.png" alt="fb" class="link"></a>
                            </li>
                            <li class="footer_link">
                                <a href="#"><img src="./images/Ico_in.png" alt="fb" class="link"></a>
                            </li>
                            <li class="footer_link">
                                <a href="#"><img src="./images/Ico_tube.png" alt="fb" class="link"></a>
                            </li>
                            <li class="footer_link">
                                <a href="#"><img src="./images/Ico_inst.png" alt="fb" class="link"></a>
                            </li>
                            <li class="footer_link">
                                <a href="#"><img src="./images/Ico_tw.png" alt="fb" class="link"></a>
                            </li>
                        </div>
                </div>
            </div>
    </section>
           
  
    
    
    <div class="container7">
        <h1 class="footer2">AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</h1>
    </div>
 
    
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
    <script src="js/menu.js"></script>
</html>